<form action="/users/create" method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  Name: <input type="text" name='name' placeholder="name">
</form>
