<h1><%= @user.name %></h1>
<a href="/users/<%= @user.id %>/edit">Edit Profile</a>
<div id='secrets'>
  <table>
    <thead>
      <tr>
        <th>Secret #</th>
        <th>Your Secret</th>
      </tr>
    </thead>
    <tbody>
      <% if @secrets %>
        <% for i in (0..(@secrets.size-1)) do %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= @secrets[i].content %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div><!-- secrets -->
