<h1>Welcome to the Great Number Game!</h1>
<p>I am thinking of a number between 1 and 100</p>
<p>Take a guess!</p>

	<% if flash[:message] %>
    <div class="error"><%= flash[:message] %>
		<% if flash[:message] == "the number is" %>
			<%= session[:randNum] %>
			<form action="/reset" method="post">
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
				<input type="submit" value="reset">
			</form>
		<% end %>
		</div>		
  <% end %>

<form action="/guess" method="post">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
	<input type="text" name="guess">
	<input type="submit">
</form>