<h1>All Comments</h1>
<table>
	<tr>
		<th>Comments</th>
		<th>Products</th>
	</tr>
	
	<% @comments.each do |comment| %>
	<tr>
		<td><%= comment.comment %></td>
		<td><%= comment.product.name %></td>
	</tr>
	<% end %>
</table>
<a href="<%=products_path%>">Back</a>
