<h1>Add a new user</h1>
<p>Nothing you enter will actually matter</p>
<form>
	<label>Alias: <input type="text"></label>
	<label>Reputation: <input type="number"></label>
	<label>Role: <input type="text"></label>
</form>
<a href="/users/create"><button>Create a random user</button></a>