<h1>View User</h1>
<table>
	<tr>
		<th>First Name:</th>
		<td><%= @user.first_name %></td>
	</tr>
	<tr>
		<th>Last Name:</th>
		<td><%= @user.last_name %></td>
	</tr>
	<tr>
		<th>Email Address:</th>
		<td><%= @user.email_address %></td>
	</tr>
</table>
<p>
	<a href="/users/<%= @user.id %>/edit">Edit</a>
	 | 
	<a href="/users">Home</a>
</p>